{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <link rel="">

    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="{% static 'css/profile.css'%}">

    <title>Profile</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
             <div class="well profile">
                 <div class="col-xs-10 col-sm-5">
                    <img src="{% static 'images/spoderman.jpeg' %}" alt="Spoderman">
                 </div>

                <div class="col-xs-12 col-sm-7">
                    <h2>Divyansh Vaidya</h2>
                    <p><strong>About: </strong> ANTI ADDU </p>
                    <p><strong>Hobbies:</strong> Making fun of him (he deserves it) </p>
                    <p><strong>Skills: </strong>2nd best at making him pissed off</p>
                    <p>
                        <span class="tags">html5</span>
                    </p>
                </div>


                <div class="col-xs-12 divider text-center">
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong> 20,7K </strong></h2>
                        <p><small>Followers</small></p>
                        <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                    </div>
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong>245</strong></h2>
                        <p><small>Following</small></p>
                        <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                    </div>
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong>43</strong></h2>
                        <p><small>Snippets</small></p>
                        <div class="btn-group dropup btn-block">
                          <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu text-left" role="menu">
                            <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>
                            <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>
                            <li class="divider"></li>
                            <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>
                          </ul>
                        </div>
                    </div>
                </div>
             </div>
            </div>
        </div>
    </div>
</body>
</html>

